*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 78px 150px;
  
}

h1 {
    font-size: 2rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:  #9ca6c4;
    position: relative;
    display: inline-block;
}

h1::after, h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

h1::before {
    top: -5px;
    transform-origin: left;
    }
    
    h1:hover::after,
    h1:hover::before {
    transform: scaleX(1);
    }

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4bb7e1;
    border-radius: 5px;
    padding: 15px;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;

}

h2 {
    font-size: 20px;
    color: red;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #4bb7e1;
    padding: 7px 25px;
    cursor: pointer;
    color: white;

}

button:hover {
    background-color: #333;
}

#btns {
    display: flex;
    justify-content: center;

}

#btns>button {
    border: 1px  solid #4bb7e1;
    background: none;
    color: #4bb7e1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    margin:  40px 5px;

}

#btns>button:hover {
    background: #4bb7e1;
    color: white;
}